.about-us-image{
    display:flex;
    justify-content:space-between;
}

.about-us-image img{
    width: 100vw;
    height: 100vh;
}


.header-text {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.header-background-opacity {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 0.5;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    position: fixed;
    width: 100%;
    top: 0px;
    transition: background 2s;
    height: auto;
    -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadeIn;
    animation-duration: 2s;
}

@media only screen and (max-width: 992px) {

    .header-menu {
        height: auto;
    }

    @-webkit-keyframes heightmenu {
        from {height: 126.4px;}
        to {height: 70px;}
    }
}


.logo-header {
    width: 200px; 
    height: 57.91px;
    -webkit-transition: width 0.7s;
    -moz-transition: width 0.7s;
    -o-transition: width 0.7s;
    transition: width 0.7s;
}

.custom-menu {
    width: 50px;
    -webkit-transition: width 0.7s;
    -moz-transition: width 0.7s;
    -o-transition: width 0.7s;
    transition: width 0.7s;
}

.custom-menu:hover {
    width: 70px; 
}

.logo-header:hover{
    width: 250px;
    height: 57.91px;
}

.logo-header-2 {
    width: 200px; 
    height: 50%; 
}

.is-sticky {
    background-color: #ffffffe3;
    height: 70px;
    -webkit-animation-name: heightmenu; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: heightmenu;
    animation-duration: 2s;
}

@-webkit-keyframes heightmenu {
    from {height: 126.4px;}
    to {height: 70px;}
}
  

#navbarSupportedContent .nav-item .nav-link {
    font-size: 50;
}

.is-sticky .nav-item .nav-link > span {
    color: #ffffffe3;
}

.nav-item .nav-link{
    position: relative;
    display: inline-block;

}
.nav-item .nav-link img {
    width: 150px;
    height: 50px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.nav-item .nav-link span {
    color: #ffffffe3;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
}

.nav-item .nav-link:hover > .image-menu {
    width: 200px;
}

.middle-text {
    position: absolute;
    top: 57%;
    left: 35%;
    height: 55vh;
    width: 80%;
    margin: -15% 0 0 -25%;
    background: #5c505062;
    border: 2px solid rgb(56, 55, 55);
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    justify-content: center;
    -webkit-animation-name: animation-middle; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: animation-middle;
    animation-duration: 2s;
}

@-webkit-keyframes animation-middle {
    from {height: 5vh;}
    to {height: 55vh;}
}
  

.title-custom {
    font-size: 30pt;
    font-weight: bold;
    color: #ecd9d9;
    text-align: center !important;
    -webkit-animation-name: fadeInDown; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadeInDown;
    animation-duration: 2s;
}

.title-custom-content {
    font-size: 15pt;
    font-weight: bold;
    color: #ecd9d9;
    -webkit-animation-name: fadeInUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadeInUp;
    animation-duration: 2s;
}
