.footer {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 350px;
    width: 80px;
    border-radius: 30px 0px 0px 30px ;
    background: #ffffffa8;
    @media (max-width : 920px) {
        height: 250px;
        width: 70px;
        border-radius: 30px 0px 0px 30px;
    }
    .row{
        height: 100%;
    }
    .col-md-12{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .fab{
        font-size: 30px;
    }
}